In [ ]:


SELECT NOM FROM `Base_de_datos_1.ALUMNOS`
WHERE PAIS LIKE 'Portugal';

SELECT * FROM `Base_de_datos_1.MASTER`
WHERE NOM LIKE '%D%';

SELECT NOM FROM `Base_de_datos_1.ALUMNOS`
WHERE ID BETWEEN 37 AND 45;

SELECT NOM,EMAIL FROM `Base_de_datos_1.ALUMNOS`
ORDER BY NOM;

INSERT INTO `Base_de_datos_1.ALUMNOS`
(ID,NOM,COGNOM,PAIS,DIRECCION,EMAIL) 
VALUES (547,'Javier','Conejero','Espa√±a','Plaza Honduras','javicone@gmail.com');

UPDATE `Base_de_datos_1.ALUMNOS`
SET EMAIL = 'javicone47@gmail.com'
WHERE NOM = 'Javier';

UPDATE `Base_de_datos_1.ALUMNOS`
SET PAIS = 'Mexico' WHERE NOM = 'Javier';


INSERT INTO `Base_de_datos_1.ALU_MASTER`
(ID,ALU_ID,MAS_ID) 
VALUES (105,(SELECT ID FROM `Base_de_datos_1.ALUMNOS` WHERE NOM LIKE 'Illojuan'),(SELECT ID FROM `Base_de_datos_1.MASTER` WHERE NOM LIKE 'MDA2'));

SELECT *
FROM `Base_de_datos_1.ALUMNOS`, `Base_de_datos_1.ALU_MASTER`, `Base_de_datos_1.MASTER`
WHERE `Base_de_datos_1.ALUMNOS`.ID = 81
AND `Base_de_datos_1.ALUMNOS`.ID = `Base_de_datos_1.ALU_MASTER`.ALU_ID
AND `Base_de_datos_1.MASTER`.ID = `Base_de_datos_1.ALU_MASTER`.MAS_ID;

DELETE FROM `Base_de_datos_1.ALUMNOS`
WHERE NOM LIKE 'Illojuan';

DELETE  FROM`Base_de_datos_1.ALUMNOS`
WHERE ID NOT IN (SELECT ALU_ID FROM `Base_de_datos_1.ALU_MASTER`);

DELETE FROM `Base_de_datos_1.MASTER`
WHERE id NOT IN (SELECT MAS_ID FROM `Base_de_datos_1.ALU_MASTER` );


UPDATE `Base_de_datos_1.ALUMNOS` SET EMAIL = NULL 
WHERE ID IN (SELECT ALU_ID FROM `Base_de_datos_1.ALU_MASTER` WHERE MAS_ID IN
(SELECT ID FROM `Base_de_datos_1.MASTER` WHERE NOM = 'MDA'));